APP_ENV=development
MONGO_URL=
DB_NAME=guru_pjok_kbb_dev
JWT_SECRET=
FRONTEND_URL=
STORAGE_PROVIDER=
STORAGE_BUCKET=
STORAGE_ENDPOINT=
STORAGE_ACCESS_KEY=
STORAGE_SECRET_KEY=
STORAGE_REGION=auto
MAX_DOCUMENT_SIZE_MB=10
MAX_VIDEO_SIZE_MB=50
